{% load static %}
<section class="section-about" id="about-us-section">
    <div class="w-layout-blockcontainer container about w-container">
      <div class="w-layout-grid about-grid">
        <div id="w-node-c44da1e9-f0f7-9803-b626-5b5446c3ba5b-2d074dfd" class="w-layout-blockcontainer about-txt w-container">
          <h1 class="head about">من نحن</h1>
          <p class="about-pargraph">
            إذا كنت تبحث عن أردوينو، حساسات، وكل ما يتعلق بالإلكترونيات، فإن &quot;متجر إلكترون للأدوات الإلكترونية&quot; هو وجهتك المثالية – احصل على كل ما تحتاجه من منتجات إلكترونية.<br /><br /> نحن نوفر مجموعة واسعة من مكونات الإلكترونيات، من لوحات الأردوينو والحساسات إلى الكابلات والإكسسوارات، وكلها مختارة بعناية لضمان أعلى جودة بأفضل الأسعار. اختر من بين مجموعة متنوعة من الخيارات في كل فئة، وتمتع بتجربة تسوق مريحة وسهلة. حدد وقت التسليم المناسب لك، وسنقوم بتوصيل طلبك في أي مكان في اليمن.<br /><br /> أصبح التسوق عبر الإنترنت سهلاً الآن، حيث يمكنك العثور على جميع مكونات الإلكترونيات التي تحتاجها في مكان واحد، بسهولة وسرعة في متجر &quot;إلكتروني للأدوات الإلكترونية&quot;.
          </p>
        </div>
        <div id="w-node-_49577fc4-2de0-29b1-a183-bf9488219284-2d074dfd" class="w-layout-blockcontainer logo-container-about w-container">
          <img src="{% static 'images/logo.PNG' %}" loading="lazy" width="Auto" id="w-node-_2da54c7a-4725-294e-b91c-b52de1439af2-2d074dfd" alt="" class="about-logo" />
          <div class="com-name">
            <h1 class="electron-orange about">الكترون</h1>
            <h1 class="electron-black about">Electron</h1>
          </div>
        </div>
      </div>
    </div>
</section>