{% load static %}
<section style="width: 100%;" id="categories-section">
  <h1 class="head categ">الاقسام</h1>      
    <div class="horizontal-grid snaps-inline">
      {% for category in categories %}
        <a id="" href="{% url "category_detail" category.id %}" class="card-cat w-inline-block">
          <img src="{{category.CatImg.url}}" loading="lazy" alt="" class="img-cat" />
          <h1 class="head-cat">{{category.CatName}}</h1>
        </a>
      {% endfor %}
    </div>
</section>
<script>
    // Get the HTML elements
  let scrollContainer = document.querySelector(".horizontal-grid");
  scrollContainer.addEventListener("wheel", (evt) => {
  evt.preventDefault();
  scrollContainer.scrollLeft += evt.deltaY;
  scrollContainer.style.scrollBehavior = "auto";
  });

</script>
