
<section>
    <div class="w-layout-blockcontainer container w-container">
      <h1 class="head">منتجات</h1>
      <div class="w-layout-grid grid">
      {% for product in products %}
        <div id="w-node-bb63faec-823b-1d7e-2772-986195f164d1-bfb5d3ec" class="w-layout-blockcontainer card w-container">
          <img src="{{ product.Proimg_url }}" alt="{{ product.ProName }}" class="product-img" />
          <div class="w-layout-blockcontainer info-card-container w-container">
            <h3 class="name-product">{{ product.ProName }}</h3>
            <h4 class="des-product">{{ product.ProDesc }}</h4>

            <form class="add-to-cart-form" method="post" data-item-id="{{ product.id }}" data-item="product">
              {% csrf_token %}
              <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
              <button type="button" class="add-to-cart-button button w-button">اضف الى العربة</button>
            </form>

          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</section>